<div class="signup">
    <form action="/signup" method="POST">
  <i class="far fa-user" ><span >Sign up</span></i>
  <div class="more">
   <span>Username</span><br>
   <input type="text" name="Username"  class="login-email" required>
   <span>E-mail</span><br>
   <input type="email" name="email"  class="login-email" required>
   <span>Password</span><br>
   <input type="password" name="password" class="login-email" required>
   <button type="button" class="big-btn"><span>Sign up</span></button>
 </form>