<section>
    <div class="wrapper">
      <div class="container1">
        <div class="article grow">
          <img class="img-1" src="https://as1.ftcdn.net/v2/jpg/02/62/20/20/1000_F_262202032_su9QH3td2IXVmiznZrBgagCiqh1lr3Ia.jpg" alt="bigphoto">
          <h3> <a href="#">Begin your journey with the castle of history</a></h3>
          <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different
            cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4>
    
            <div class="article">
              <img class="img-1" src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/indigenous-peoples-history-cover.png" alt="">
              <h3><a href="#">Begin your journey with the castle of history</a></h3>
              <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different
                cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4>
    </div>
                <div class="article">
                  <img class="img-1" src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/age-of-augustus-cover.png" alt="">
                  <h3> <a href="#">Begin your journey with the castle of history </a></h3>
                  <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different
                    cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4>
    </div>
                    <div class="article">
                      <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/art-of-war-book-cover.png" alt="">
                      <h3> <a href="#">Begin your journey with the castle of history</a></h3>
                      <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different
                        cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4></div>
                        <div class="article basis">
                          <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/the-swerve-cover.png" alt="">
                          <h3><a href="#">Begin your journey with the castle of history</a></h3>
                          <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different
                            cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4>
                            <p>Hence, during that period the aggregate ratio of history museums has increased exponentially with newer themes and subjects being introduced
                             So without the contribution of history museums, we would have been lost in comprehending the tangible links to the past.</p>
                          </div>
                          <div class="article grow">
    
      <h3><a href="#">Begin your journey with the castle of history</a></h3>
    <h4>The importance of the history museum in our society is unmatchable. It not only brings people belonging from different  cultures and backgrounds under one roof but also feeds their hunger to know more about our World’s ancient history.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
     in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidesunt in culpa qui officia deserunt mollit anim id est laborum sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    </div>
      </section>
    
    
      <div class="container-icons">
        <div class="i-animation">
          <a class="bck-f" href="#"><i class="fab fa-facebook"></i></a>
          <a class="bck-i"href="#"><i class="fab fa-instagram"></i></a>
          <a class="bck-t" href="#"><i class="fab fa-twitter"></i></a>
          <a class="bck-y"href="#"><i class="fab fa-youtube"></i></a>
        </div>
    
      </div>
    
    
    <section>
    
      <ul class="container2">
      <li class="item">
        <a href="#"> <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/age-of-augustus-cover.png" alt="">
        <p>Begin your journey with the castle of history</a></p>
    
    <li class="item">
      <a href="#"> <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/age-of-augustus-cover.png" alt="">
      <p>Begin your journey with the castle of history</a></p>
    
    <li class="item">
      <a href="#"> <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/indigenous-peoples-history-cover.png" alt="">
      <p>Begin your journey with the castle of history</a></p>
    
    </li>
    <li class="item">
      <a href="#"> <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/indigenous-peoples-history-cover.png" alt="">
      <p>Begin your journey with the castle of history</a></p>
    
    </li>
    <li class="item">
      <a href="#"> <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/indigenous-peoples-history-cover.png" alt="">
      <p>Begin your journey with the castle of history</a></p>
    
    </li>
    <li class="item">
      <a href="#"><img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2019/11/indigenous-peoples-history-cover.png" alt="">
      <p>Begin your journey with the castle of history</a></p>
    
    </li>
    </ul>
    </section>