
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded headIndex bg-dark" >
    <div class="col-md-12">
      <h1 class="fw-bolder text-center lh-2">Intellectual Community</h1>
      <h3 class="my-4">Do you love knowlege?</h3>
      <h4>Then you are in the right place  </h4>
      <p class="lead mb-0"><a href="/login" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  <div class="row mb-2 post">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Quote</strong>
          <h4 class="mb-0">Featured post</h4>
          <div class="mb-1 text-muted"><i>June 12</i></div> 
          <h6 class="card-text mb-auto">The cure for boredom is curiosity. There is no cure for curiosity” <i>  Dorothy Parker</i></h6>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
    <div class="col-md-6 post">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Science</strong>

          

          <h4 class="mb-0">Recent posts</h4>
         <h5>Join the largest ecosystem </h5>
          <p class="mb-auto"></p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block"> 
        </div>
      </div>
    </div>
  </div>
 </main>

    