<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="utf-8">
    <span class="material-icons-outlined">
</span>
       <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
       <meta name="viweport" content="width-device-width, initial-scale=1.0">
       <script src="https://kit.fontawesome.com/327d4554c8.js" crossorigin="anonymous"></script>
    <title> Books of Insparations</title>
  </head>
  
    <header>
  <div class="container">
    <div class="nav-icons">
      <i class="fas fa-bars"></i>
    </div>

     <div class="top-nav">
      <div class="logo-text">
      <h1><span>Read</span>books</h1><br>
      <input type="checkbox" name="" value="" id="logo-checkbox">


      <div class="mobile-nav">

        <h3 id="H">Hello, Login</h3>
        <ul class="one">
          <a><li>Start page</li></a>
          <a><li>My account</li></a>
          <a><li>Custom service</li></a>
          <a><li>Culture magazine</li></a>
          <a><li>Events</li></a>
        </ul>
        <h3>PRODUCTS</h3>
        <ul class="two">
          <li id="B">BERLIN
            <input type="checkbox" name="" value="" class="Be">
            <span class="arr">➤</span>
            <ul class="sub-Berlin">

          <a><li>NEW AND BESTSELLING</li></a>
          <a ><li>USED BOOKS</li>    </a>
          <a><li>LIBRARY BERLIN</li></a>
          <a><li>BERLIN IN FILM</li></a>
          <a><li>MUSICAL BERLIN</li></a>
            </ul>
        </li>
       <a><li>BOOKS <span class="arr">➤</span></li></a>
      <a><li>eBOOKS &eREADER <span class="arr">➤</span></li></a>
      <a><li>TEXTBOOKS <span class="arr">➤</span></li></a>
      <a><li>AUDIOBOOKS <span class="arr">➤</span></li></a>
      <a><li>MUSIC <span class="arr">➤</span></li></a>
      <a><li>FILM <span class="arr">➤</span></li></a>
      <a><li>SHEET MUSIC <span class="arr">➤</span></li></a>
      <a><li>GIFTCARD <span class="arr">➤</span></li></a>
        </ul>

        <div class="opacity">
          <i class="far fa-times-circle"></i>
        </div>
      </div>

      </div>

      <div class="Search">
           <input type="text" class="header-Search" placeholder="Title, Authur, ISBN..">
              <i class="fas fa-search"></i>
      </div>

       <div class="right-side">
         <div class="Notepad">
         <i class="far fa-heart"><span>Notepad</span></i>
           <div class="more">
             <div class="sub-notepad">
           <h4>Notepad<span>(0)</span></h4>
           <span>The notepad is empty.</span>
           </div>
           </div>
         </div>
         <form action="/login" method="POST">
         <div class="Login">
         <i class="far fa-user" ><span >Log In</span></i>
         <div class="more">
          <span>E-mail</span><br>
          <input type="email" name="email"  class="login-email" required>
          <span>Password</span><br>
          <input type="password" name="password" class="login-email" required>
          <button type="submit" class="big-btn"><span>Login</span></button>
        </form>
          <a href="/signup"><span class="arrow">⇢</span><span class="N" >Register</span></a><br>
          <a href="#"><span class="arrow">⇢</span><span class="N">Forgotten your password?</span></a>
         </div>
         </div>
         <div class="basket">
          <i class="fas fa-2x fa-cart-arrow-down"></i>
         <span>EUR</span><p>0,00</p>
         <!-- <input type="checkbox" name="" value=""> -->
         <div class="more">
           <div class="sub-basket">
           <p>The basket is empty.</p>
           <span>Free delivery</span> <br>
           <button type="" class="big-btn">
           <i class="fas fa-cart-arrow-down"></i>
           <b>BASKET</b>
         </button>
             </div>
           </div>
         </div>
       </div>
   </div>

  <div class="bottom-nav">
   <ul class="nav-list">
   <li><a href="#">Browse ▾
   </a>
     <ul class="sub-Browse">
       <li><a href="#">New Arrivals</a>
       </li>
       <li><a href="#">Best Sellers</a>
       </li>
       <li><a href="#">Award Winners</a>
       </li>
       <li><a href="#">Digital Audio Books ▾
       </a>
         <ul class="sub-Browse">
           <li><a href="#">New Arrivals</a>
           </li>
           <li><a href="#">Best Sellers</a>
           </li>
           <li><a href="#">Award Winners</a>
           </li>
           <li><a href="#">Digital Audio Books ▾
           </a>
             <ul class="sub-Browse">
               <li><a href="#">New Arrivals</a>
               </li>
               <li><a href="#">Best Sellers</a>
                     </li>
                     <li><a href="#">Award Winners</a>
                     </li>
                     <li><a href="#">Digital Audio Books</a>
                     </li>
                     <li><a href="#">See All Subjects</a>
                     </li>
                   </ul>
                 </li>
                 <li><a href="#">See All Subjects</a>
                 </li>
               </ul>
             </li>
             <li><a href="#">See All Subjects</a>
             </li>
           </ul>
         </li>

         <li><a href="used.html">Used</a>
         </li>
         <li><a href="#">Blog</a>
         </li>
         <li><a href="#">Sell Books</a>
         </li>
         <li><a href="#">Events</a>
         </li>
         <li><a href="#">Find a Store</a>
         </li>
       </ul>
      </div>
     </div>

<%- body %> 
<!-- Footer -->
 <div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h1 id="logo-footer"> <span>ReDI</span>books</h1> <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="contact">
        <span><i class="fas fa-phone"></i> &nbsp; 030-123-456</span>
        <span><i class="fas fa-envelope"></i> &nbsp; info@redi..com</span>
      </div>
      <div class="socials">
        <a class="bck-f" href="#"><i class="fab fa-facebook"></i></a>
        <a class="bck-i"href="#"><i class="fab fa-instagram"></i></a>
        <a class="bck-t" href="#"><i class="fab fa-twitter"></i></a>
        <a class="bck-y"href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-section links">
      <h2>HELP</h2>
      <br>
      <ul>
        <a href="#"><li>Shipping</li></a>
        <a href="#"><li>Garantee</li></a>
        <a href="#"><li>Store Pickup</li></a>
        <a href="#"><li>Terms</li></a>
      </ul>
    </div>
    <div class="footer-section contact-form">
      <h2>Contact Us</h2>
      <br>
      <form action="index.html" method="post">
        <input type="email" name="email" class="contact-input" placeholder="Your email adress"><br>
        <textarea name="name" class="contact-input" placeholder="Your message..."></textarea>
        <br>
        <button type="submit" class="submit-btn contact-btn">
        <i class="fas fa-envelope"></i>
        Send
      </button>

      </form>

    </div>
   
  </div>
  <div class="footer-bottom">
    &copy; de.redi-school.org | Designed by ReDI school students

  </div>
</div>
<script src="./js/script.js"></script>

</html>