<div class="oneBook">
    <div class="book-img">
  <img src=" <%= oneBook.image %>" alt="">
</div>
  <div class="text">
    <h1 class="title"> <%= oneBook.title  %> </h1>
    <h3 class="author"> <%= oneBook.author  %> </h3>
    <p class="description"><%= oneBook.description %></p>
  </div>

  <button>BORROW</button> 
  <button>ADD BOOK</button>
</div>
