
<img src=" <%= oneBook.image %>" alt="">

<div class="oneBook-Text">
    <h1 class=""> <%= oneBook.title  %> </h1>
    <h3 class=""> <%= oneBook.author  %> </h3>
    <p><%= oneBook.description %></p>
</div>


