
<form action="/signup" method="POST">
    <div class="register">
    <i class="far fa-user" ><span > signup</span></i>
    <div class="more">
    <span>User name</span><br>
        <input type="text" name="username"  class="login-email" required>
     <span>E-mail</span><br>
     <input type="email" name="email"  class="login-email" required>
     <span>Password</span><br>
     <input type="password" name="password" class="login-email" required>
     <button type="submit"  class="big-btn"><span id="signupbtn">sign up</span></button>
     </div>
     </div>
   </form>

   