<main class="form-signin w-150 m-auto">
     <form action="/addBooks" method="POST"  enctype="multipart/form-data" >
      <h1 class="h3 mb-3 fw-normal">Add new Book</h1>
      <div class="form-floating">
        <input type="text" class="form-control" name="title" placeholder="title" aria-label="title" required />
        <label>Title</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="author" placeholder="Author" required>
        <label >Author</label>
      </div>
      <div class="form-floating">
        <input type="file" class="form-control" name="image" placeholder="file" >
      </div>
      <div class="mb-4 m-auto" >
        <label for="exampleFormControlTextarea1"  class="form-label">Description </label>
        <textarea class="form-control"  name="description"  id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      <% if(typeof errorMessage !== 'undefined'){%>
        <p class="mt-5 mb-3 text-muted"><%= errorMessage %></p>
        <% } %> 
    </form>
  </main>