html {
  box-sizing: border-box;
}


.container {
  position: fixed;
  height: 200px;
  /*background-color: #CEE4F7; */
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #F8F8F8;
}

body {
padding: 0px;
margin: 0px;
font-family: sans-serif,'Roboto';
background-color: #F8F8F8;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  position: fixed;
  height: 200px;
  /*background-color: #CEE4F7; */
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #F8F8F8;
}

.mobile-nav {
  display: none;
  position: absolute;
  z-index: 2000;
}

.nav-icons {
  color: black;
  font-size: 2rem;
  padding-top: 25px;
  left: 23px;
  cursor: pointer;
  display: none;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 75%;
  align-items: center;
}

.top-nav .logo-text {
  font-size: 20pt;
  padding-top: 44px;
  flex-shrink: 0;
  font-family: serif;
}

.Search {
  display: flex;
  height: 30px;
  padding-left: 50px;
  padding-right: 30px;
  max-width: 30%;
  font-size: 14pt;
  padding-top: 44px;
  flex-grow: 1;
  align-items: flex-end;
}

.header-Search {
  border: 1px solid #ffd399;
  padding: 15px;
  width: 353px;
  font-size: 14px;
  background-color: #FFF0F3;
}

.fa-search {
  background-color: #D00000;
  color: white;
  padding: 17px;
  text-align: center;
  border-bottom: transparent;
}

.top-nav .right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
}

.right-side{
  top: 0;
}
.Notepad .fa-heart{
  border: 0 4px 3px 4px;
}
.Notepad {
  margin-right: 7px;
  margin-top: -20px;
  position: relative;

}
.Notepad:hover .fa-heart {
  border: 1px solid #e8e8e8;
  border-bottom: white;
  background-color: white;
}
.Notepad:hover .Notepad {
  background-color: white;
}
.Notepad .more {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #e8e8e8;
  border-top: 1px solid white;
  height: 114px;
  width: 261px;
  top: 18px;
  right: 0;
  z-index: 3;

}
.Notepad .more .sub-notepad, .sub-notepad h4 {
  margin: 20px;
  text-align: left;
}
.Notepad .more .sub-notepad span {
  color: #B2B2B3;
}

.Notepad:hover .more {
  display: block;
}

.register{
 position: absolute;
  display: block;
  z-index: 1;
}
.Login {
  margin-top: -20px;
  position: relative;
}

.Login .more {
  position: absolute;
  display: none;
  height: 314px;
  width: 210px;
  background-color: white;
  right: -5px;
  padding-top: 38px;
  padding-left: 15px;
  z-index: 5;
  border: 1px solid #e8e8e8;
}
.Login:hover .more{
  display: block;
}
.Login:hover .fa-user {
  background-color: white;
  border: 1px solid #e8e8e8;
}
.Login .more span {
  font-size: 17px;
  font-family: serif;
}
.Login .more .login-email {
  height: 20px;
  width: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Login .more .big-btn {
  padding: 10px;
  background-color: #D00000;
  color: white;
  height: 42px;
  width: 182px;
  border: 1px solid transparent;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: sans-serif;
}
.Login .more .arrow {
  color: red;
}
.Login .more .N{
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  font-stretch: semi-condensed;
}

.right-side .basket {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  position: relative;
}

.fa-cart-arrow-down {
  color: #5C5D5D;
  margin-top: 26px;
  z-index: 2;
}

.right-side span {
  margin-top: 40px;
  margin-left: 0;
  font-size: 15px;
  margin-left: 3px;
  z-index: 2;
}
.right-side p {
  margin-top: 37px;
  margin-left: 3px;
  z-index: 2;
}

.top-nav input [type=text] {
  flex-grow: 3;
}

.logo-text span {
  margin-left: 20px;
  padding: 0;
  color: #fa4350;
  position: relative;
}

.bottom-nav {
  height: 25%;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-top: 1px solid #BCC2C8;
  border-bottom: 1px solid #BCC2C8;
}
 .nav-list {
   display: flex;
   height: 25%;
   max-width: 100%;
   align-items:flex-start;
   margin-left: 45px;
 }

 .nav-list li {
   font-size: 12pt;
   height: 30px;

 }

 .nav-list a {
   color: black;
   padding: 1.5rem;
   text-transform: uppercase;
   transition: color 650ms;
 }

 .nav-list a:hover {
   color: #eb3007;
 }

 .sub-Browse {
   width: 13rem;
   margin: 20px;
   display: block;
   position: absolute;
   border-top: 3px solid #eb3007;
   background-color: #F6F6F6;
   opacity: 0;
   visibility: hidden;
 }
.sub-Browse li {
  margin-top: 10px;
  float: left;
  font-size: 10pt;
  position: relative;
}

.sub-Browse::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 3rem;
  border: 1rem solid transparent;
  border-bottom-color: #eb3007;
}

.nav-list li:hover > .sub-Browse {
  opacity: 1;
  visibility: visible;
}

.sub-Browse .sub-Browse::before {
  content: "";
  position: absolute;
  top: .9rem;
  left: -2rem;
  border: 1rem solid transparent;
  border-right-color: #eb3007;
}
.sub-Browse .sub-Browse {
  border-top: none;
  border-left: 3px solid #eb3007;
  top: -35px;
  left: 92%;
}

.basket .more{
  display: none;
  text-align: right;
}
.basket:hover .more{
  display: block;
  position: absolute;
  top: 15px;
  right: -10px;
  background-color: white;
  border: 1px solid #e8e8e8;
  width: 250px;
  height: 190px;
  animation-duration: .1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.basket .more .sub-basket {
  top: 20px;
  margin: 10px;
  margin-top: 64px;
  color: #B2B2B3;
}

.basket .more .sub-basket span {
  margin-bottom: 9px;
}

.basket .more .sub-basket .big-btn {
  padding: 10px;
  background-color: #D00000;
  color: white;
  height: 44px;
  width: 123px;
  border: 1px solid transparent;
  margin-top: 13px;
}

.basket .more .sub-basket .big-btn .fas {
  margin-top: 0;
  color: white;
  font-size: 15px;
}

.logo-text input {
  width: 120px;
  height: 55px;
  color: transparent;
  background-color: transparent;
  display: block;
  -webkit-appearance: none;
  position: absolute;
  z-index: 0;
  top: 31px;
}

.wrapper {
  width: 80%;
  margin-left: 130px;
  border-top-color: red;
}

.container1 {
  background-color: #FFF8DC;
  width: 80%;
    margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.article {
  display: flex;
  flex-wrap: wrap;
  width: 31%;
  margin: 10px;
}

.basis.article {
  flex-basis: 1;
}

.article img {
  width: 100%;
  margin: auto;
}

.basis img {
  flex-shrink: 3;
}

.grow.article {
  flex-grow: 2;
}

.grow.article h3 {
  text-align: center;
  margin-bottom: 0px;

}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin:0px;
  padding: 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  padding: 0px;
}

.article p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

h3, a {
  color: black;

}

h3 :hover {
  text-decoration: underline;
}
.container-icons{
  animation-delay: 5s 500ms;
	transition-property: all;
	/* margin-left: -200px; */
	animation-name: moveLeft;
	animation-duration: 9s;
  animation-direction:reverse;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
.i-animation {
  display: flex;
  justify-content: space-between;


}
.bck-f, .bck-i, .bck-t, .bck-y{
  font-size: 22pt;
  border-top: 1px solid  #800000;
  border-bottom:  1px solid  #800000;
}

@keyframes moveLeft {
	100% {
		margin-left: 100%;
	}


}
.social-media-icons{
  display: flex;
  flex-direction: column;

}


@media screen and (max-width:567px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .wrapper {
    margin: 0 40px;
  }

  .article {
    width: 100%;

  }
  .article img {
    width: 100%;
    border: 1px solid black;
  }

  h3 {
  font-size: 12pt;
  }
  h4 {
  font-size: 10pt;
  }
  .container2, p {
  font-size: 10pt;
  }
  .item {

  }
}

.container2 {
  background-color: transparent;
  width: 99%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.item, img {
  border: 1px solid black;
  text-decoration: none;
  width: 30%;
  margin: 20px;
}

.item, h5 {
                            /* display: inline-flex; */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
}

h5 {
  margin: 20px;
  padding: 0px;
}

.item p :hover {
  font-size: 14pt;
  margin: 5px;
}

.item img, a {
  color: #8A2BE2;
  border: none;
  margin: 0px;
}

.item :hover {
  display: inline-block;
  background: #202121;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  visibility: visible;
}

/* content */

   /* Footer */
   .footer {
     background: #303036;
     color: #d3d3d3;
     height: 400px;
     font-family: inherit;
    
     
     
   }

   .footer .footer-bottom {
     width: 100%;
     background: #303a40;
     color: #686868;
     height: 50px;
     text-align: center;
     bottom: 0px;
     left: 0px;
    padding-top: 20px;
  }
   .footer #logo-footer{
     font-family: serif;
   }
   .footer .footer-content {
     height: 350px;
     display: flex;
   }
   .footer .footer-content .footer-section {
     flex: 1;
     padding: 25px;
   }
   .footer .footer-content h1,
   .footer .footer-content h2 {
     color: white;
   }
   .footer .footer-content .about h1 span {
     color: #fa4350;
   }
   .footer .footer-content .about .contact span {
     display: block;
     font-size: 12px;
     margin-bottom: 8px;
   }

   .footer .footer-content .about {
     color: #848b91;
   }

   .footer .footer-content .about .socials a {
     border: 1px solid grey;
     width: 30px;
     height: 30px;
     margin-top: 8px;
     margin-right: 3px;
     text-align: center;
     display: inline-block;
     border-radius: 15px;
     font-size: 1.1em;
    }


    .footer .footer-content .about .socials a i {
      padding-top: 5px;
      font-size: 17px;
      color: white;
    }

    .footer .footer-content .about .socials a.bck-f:hover {
      background-color: #3b5998 ;
    }

    .footer .footer-content .about .socials a.bck-t:hover {
      background-color: #00acee;
    }

    .footer .footer-content .about .socials a i.fa-youtube:hover {
      color: white;
    }

    .footer .footer-content .about .socials a.bck-y:hover {
      background-color: #c4302b;
    }

    .footer .footer-content .about .socials a.bck-i:hover {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }

    .footer .footer-content .links ul a {
      display: block;
      margin-bottom: 10px;
      font-size: 19px;
      transition: all .3;
      color: #848b91;
      margin-left: 0;
    }

    .footer .footer-content .links ul{
      padding-left: 10px;
      width: 30%;
    }


    .footer .footer-content h2 {
      padding-top: 10px;
      margin-left: 10px;
    }



    .footer .footer-content .links ul a:hover {
      text-decoration: underline;
      color: white;
      transition: all .3;
    }

    .footer .footer-content .contact-form .contact-input {
      background: #272727;
      color: #bebdbd;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.5rem;
      padding: .9rem 1.4rem;
      border: none;
      width: 80%;
      margin-left: 10px;
  }

  .footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
  }

    .submit-btn {
    padding: 8px 10px;
    line-height: 10px;
    border-radius: 4px;
    color: white;
    border: 1px solid transparent;
    background: #006669;
    margin-left: 10px;
  }

  @media screen and (max-width: 850px){
    .container {
      height: 100px;
    }
    .bottom-nav {
      display: none;
    }
    .logo-text h1 {
     font-size: 28px;
     padding-top: 0;
    }
    .top-nav .nav-icons {
      display: visible;
      z-index: 3000;
    }
    .top-nav {
      flex-direction: row;
      justify-content: center;
    }
    .top-nav .right-side {
     order: 3;
     justify-content: flex-end;
     /*margin-left: 160px;*/
     margin-top: -45px;
     width: 124px;
    }
     .right-side .fa-heart {
      margin-right: 16px;
    }
    .right-side .basket {
      margin-left: 0;
      padding-left: 15px;
    }
    .Search {
      order: 3;
      padding-top: 26px;
    }
    .header-Search{
      padding: 9px;
      background-color: #FFF0F3;
      border-color: transparent;
    }
    .fa-search{
      padding: 10.5px;
    }
    .fa-cart-arrow-down {
      margin-top: 0;
      font-size: 50%;
      margin-top: -20px;
    }

    .fa-heart > span, .fa-user > span, .basket > span, .basket > p {
      display: none;
    }
    .mobile-nav {
      position: absolute;
      background-color: white;
      display: none;
      line-height: 37px;
      float: left;
      height: 890px;
      width: 60vw;
      top: 0;
      left: 0;
      z-index: 100;
    }

    .sub-Berlin {
      position: absolute;
      z-index: 6;
      background-color: white;
      width: 93%;
      height: 100%;
      top: 55px;
      left: 0;
      display: none;
      line-height: 37px;
      float: left;
    }

    .sub-Berlin li {
      margin: 20px;
      color: black;
    }

    .sub-Berlin a:hover li {
      color: red;
      background-color: lightgrey;
    }
    .mobile-nav a{
      color: black;
    }
    .mobile-nav a:hover li {
      color: red;
    }


    #B .Be {
      width: 150px;
      height: 35px;
      top: 340px;

    }
    #B input:checked ~ .sub-Berlin {
      display: block;
    }

    .opacity {
      position: absolute;
      margin-left: 60vw;
      width: 40vw;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
    .opacity .far {
      margin-left: 15px;
      margin-top: 15px;
      font-size: 40px;
      color: silver;
    }
    .logo-text #logo-checkbox:checked {
      left: 360px;
      top: 15px;
      position: absolute;
      z-index: 2000;
      width: 40px;
      height: 40px;
      background-color: transparent;
    }


    .mobile-nav > #H {
      background-color: red;
      color: white;
      margin-bottom: 0;
      margin-top: 0;
      padding: 8px;
      text-align: left;
   }

    .mobile-nav > h3 {
      padding-left: 12px;
      text-align: left;
      font-size: 16px;
  }
    .mobile-nav .one {
    background-color: #FFF0F3;
  }
   .mobile-nav ul {
    padding-right: 20px;
    margin-top: 0;
    padding: 12px;
  }
  .mobile-nav .arr {
   float: right;
  }

  .logo-text #logo-checkbox:checked ~ .mobile-nav {
    display: block;
  }


  .footer {
    height: 950px;
    width: 100vw;
  }
   .footer .footer-content {
     display: flex;
     flex-direction: column;
     height: 915px;
     background-color: #303036;
     padding: 0;
     font-size: 13px;
   }
   .footer .footer-bottom {
     height: 35px;
   }
   .footer .footer-content .footer-section .about #logo-footer {
    display: visible;
   }
   .footer .footer-content .footer-section .links ul,li {
     font-size: 16px;
   }
   .footer .footer-content .footer-section .links{
     padding-bottom: 0;
   }}

