
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5rem;
  padding: 2rem;
  margin: 0.5rem
}
h3 {
  font-family: 'Patua One', cursive;
  font-size: 3.5rem;
  padding: 2rem;
  margin: 0.5rem
}
h5{
  font-family: 'Patua One', cursive;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 0.5rem
}
h6{font-family: 'Tangerine', cursive;
  font-size:60px
}

body{
  text-align: center;
  margin: 0px;
  font-family: sans-serif,'Roboto';
<<<<<<< HEAD
  background-color:#F2F2F2; 
   } 
=======
  
  background-color:#F2F2F2;  
 
   }
>>>>>>> 9935402f08dbf12ddc12c7ea24fa7bde40a9ec18


/* /////////////////INDEX EJS//////// */

.navbar-nav li a {
  font-size:30px
  margin 20px 
}

.headIndex{
  margin: 50px 0px ;
   background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
}

   /* LOGIN AND SINGUP FORM */
.form-signin {
  max-width: 330px;
  padding-top: 90px;
  height: 100%;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
}
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
/* //////////////FOOTER///////// */
      .card-footer{
        bottom: 0;
        width:100%;
          padding: 20px;
      }
      /* ///////////BENIAH LOGO ////////// */
.logo{
  width:100px
}

.oneBook {
  margin: 24px;
    display: flex;
    padding: 50px;
    justify-content: center;
}
.oneBook-btn{
  margin-bottom: 74px;
    margin-right: -132px;
    margin-top: 67px;
}
.btn .btn-primary{
  padding: 0.1rem 1.5rem;
}

.cart{
  width: 250px;
  float: right;
  text-align: center;
  border: 1px solid black;
  overflow-y: scroll;
  height: 100%;
}

.cartImg {
  width: 200px;
}



/* ///////////////////////////CRAZY CSS/////////////////// */
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 240px;
  margin-top:40px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}
.description {
  margin: 50px;
}
.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 3px;
  width: 48px;
  height: 294px;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

/* ///////////////////////////////// User profile card//////////////////////////////// */
.userProfieCard{border-radius: 32px;
  background: #dbdbdb;
  box-shadow:  7px -7px 14px #a4a4a4,
               -7px 7px 14px #ffffff;}